<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

In [1]:
print("nirav kagathara rollno-416 22010101443")

nirav kagathara rollno-416 22010101443

### 01) WAP to print “Hello World”

In [2]:
print("hello Word")

hello Word

### 02) WAP to print your address i) using single print ii) using multiple print

In [1]:
print("gundala road, gondal")
print("gundala road,")
print("gondal")

gundala road, gondal
gundala road,
gondal

### 03) WAP to print addition of 2 numbers (without input function)

In [3]:
print(1+3);

4

### 04) WAP to calculate and print average of 2 numbers (without input function)

In [3]:
print((1+2)/2)

1.5

### 05) WAP to add two number entered by user.

In [7]:
a=int(input("enter 1st number"));
b=int(input("enter 2nd number"));
print(a+b);

enter 1st number2
enter 2nd number3
5

### 06) WAP to calculate simple interest.

In [5]:
a=int(input("enter amount"))
b=int(input("enter interest rate"))
t=int(input("enter time in year"))
print((a*b*t)/100)

enter amount5
enter interest rate8
enter time in year6
2.4

### 07) WAP Calculate Area and Circumfrence of Circle

In [10]:
a=int(input("enter radius of circle"))
print((3.14)*(a)*(a))

enter radius of circle12
452.15999999999997

### 08) WAP to print Multiplication table of given number without using loops.

In [17]:
a=int(input("enter number you want the table"));
print(a ,"x  1  =",a);
print(a ,"x  2  =",(a*2))
print(a ,"x  3  =",(a*3))
print(a ,"x  4  =",(a*4))
print(a ,"x  5  =",(a*5))
print(a ,"x  6  =",(a*6))
print(a ,"x  7  =",(a*7))
print(a ,"x  8  =",(a*8))
print(a ,"x  9  =",(a*9))
print(a ,"x  10  =",(a*10))

enter number you want the table3
3 x  1  = 3
3 x  2  = 6
3 x  3  = 9
3 x  4  = 12
3 x  5  = 15
3 x  6  = 18
3 x  7  = 21
3 x  8  = 24
3 x  9  = 27
3 x  10  = 30

### 09) WAP to calculate Area of Triangle (hint: a = h * b * 0.5)

In [22]:
a=int(input("enter height of triangle"))
b=int(input("enter base of tringle"))
print(a*b*0.5)

enter height of triangle12
enter base of tringle3
18.0

### 10) WAP to convert degree to Fahrenheit and vice versa.

In [20]:
a=int(input("enter celcius"))
print((a*(9/5))+32)

enter celcius13
55.400000000000006

### 11) WAP to calculate total marks and Percentage.

In [10]:
a=int(input("enter mark of english"))
b=int(input("enter mark of java"))
c=int(input("enter mark of C"))

print("total mark:-1",a+b+c)
print("persantage is",((a+b+c)*100)/300,"%")

enter mark of english5
enter mark of java85
enter mark of C5
total mark:-1 95
persantage is 31.666666666666668 %

### 12) Compute distance between two points taking input from the user (Pythagorean Theorem).

In [38]:
a=int(input("enter value of point one"))
b=int(input("enter value of point two"))
a1=int(input("enter value of point one-one"))
b1=int(input("enter value of point two-two"))

print((((a-a1)**2)+((b-b1)**2))**(1/2));

enter value of point one1
enter value of point two1
enter value of point one-one1
enter value of point two-two1
0.0

### 13) WAP to convert seconds into hours, minutes & seconds and print in HH:MM:SS
[e.g. 10000 seconds mean 2:46:40 (2 Hours, 46 Minutes, 40Seconds)]

In [ ]:
a=int(input("enter seconds"))
b=int(a/60)
h=int(b/60)
m=int(b-(h*60))
s=int(a-((h*3600)+(m*60)))
print(h,":",m,":",s)

### 14) WAP to enter distance into kilometer and convert it into meter, feet,inches, and centimeter

In [57]:
a=float(input("enter distance in kilometer"));
m=float(a*1000);
c=float(m*100);
i=float(a*39371.08);
f=float(a*3280.84);
print("meter: ", m ,"\nfeet: ", f ,"\ninches: ", i ,"\ncentimeter: ", c);

enter distance in kilometer1
meter:  1000.0
feet:  3280.84
inches:  39371.08
centimeter:  100000.0